#container {
  margin: 0 auto;
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 2fr 3fr;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 5px;
  padding: 1px 1px;
  grid-template-areas: 'hd hd hd' ' in in in' 'inf inf inf';
}

.header {
  grid-area: hd;
  color: firebrick;
}

#info {
  grid-area: inf;
  display: grid;
  grid-template-columns: 1fr 5fr 9fr;
  grid-gap: 3px;
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas: 'head head head' 'im im im' 'des des des';

}

#image {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2em;

  grid-area: im;
}

#details {
  grid-area: des;
  color: #333333;
}

#head {
  grid-area: head;
  color: brown;
}
