<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Creative</title>

</head>
<body>
<div id="container" class="box">
    <div id="div_input" class="box">
        <section id="section_city" class="box">
            <label for="city_name"
            >City Name:
                <input id="city_name" type="text" placeholder="city name"/>
            </label>
        </section>

        <section id="section_date" class="box">
            <label>
                DATE:
                <select name="day" class="date">
                    <option value="null">YYY</option>
                    <option value="1">1</option>
                </select>

                <select name="day" class="date">
                    <option value="null">DD</option>
                    <option value="1">1</option>
                </select>

                <select name="day" class="date">
                    <option value="null">MM</option>
                    <option value="1">1</option>
                </select>
            </label>
        </section>

        <section id="section_submit">
            <button id="submit_button">
                Search
            </button>
        </section>
    </div>

    <div id="info" class="box">
        <h3 class="head">details:</h3>
        <div class="image"></div>

        <section class="details">
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <button id="save_trip">Save trip</button>
            <button id="delete_trip">Delete trip</button>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
    </div>
</div>
<script src="dist/main.js"></script>
</body>
</html>
